@import url('https://fonts.googleapis.com/css?family=PT+Sans|Pacifico|Satisfy');

body {
	text-align: center;

}

p {
	line-height: 1.5em;
	font-family: 'PT Sans', sans-serif;
}

#slogan {
	font-family: 'PT Sans', sans-serif;
	text-transform: lowercase;
	font-size: 24px;
}
h1 {
	font-size: 50px;
	font-family: 'Satisfy', cursive;
	color: #248599;
}

