body {
	text-align: center;
	background-color: rgba(000,000,255,.25)
}
#slogan {
	font-family: cursive;
	text-transform: lowercase;
	font-size: 24px;
}
h1 {
	color: #0000FF;
	font-variant: small-caps;
	font-family: Arial, sans-serif;
}